pipeline/incrementaldata.json
{
	"name": "incrementaldata",
	"properties": {
		"activities": [
			{
				"name": "last_date",
				"description": "date upto which the data is updated \n when the pipeline runs for the first time  no data entered is entered so teh last date will be minimum date ",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select* from dateholder",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_database_link",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Max_date",
				"description": "mxaimum date  upto which there are records",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select max(orderDate) as maxDate from SalesOrders ",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "sql_database_link",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Incremental_load",
				"description": "ingestion of data into bronze layer \nformat is parquet",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Max_date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "last_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT *\nFROM [dbo].[SalesOrders]\nWHERE OrderDate > '@{activity('last_date').output.firstRow.lastDate}'\nAND OrderDate <= '@{activity('Max_date').output.firstRow.maxDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "sql_database_link",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Incremtal_data",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "update_last_date",
				"description": "updating last date to max date upto which the data is updated in the bronze layer \n",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Incremental_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[updatedateholder]",
					"storedProcedureParameters": {
						"myvar": {
							"value": {
								"value": "@activity('Max_date').output.firstRow.maxDate",
								"type": "Expression"
							},
							"type": "DateTime"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-03-09T18:48:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}